In [1]:
import pandas as pd

### Load Dataset

In [2]:
data=pd.read_csv("weight-history.csv", index_col = "회차")

In [3]:
data

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04   NaN  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수  강남구
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07   NaN  kg  최재우  여의도
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [4]:
data.index

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64', name='회차')

In [5]:
data.columns

Index(['이름', '측정일', '몸무게', '단위', '담당', '지점'], dtype='object')

In [6]:
data.shape

(9, 6)

In [7]:
data.head()

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04   NaN  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수  강남구

In [8]:
data.tail()

     이름         측정일   몸무게  단위   담당   지점
회차
5   강성희  2019-01-05  76.2  kg  김지수  강남구
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07   NaN  kg  최재우  여의도
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [9]:
data.head(2)

     이름         측정일   몸무게  단위   담당  지점
회차
1   강성희  2019-01-01  76.4  kg  김지수  강남
2   강성희  2019-01-02  75.7  kg  김지수  강남

In [10]:
data.tail(3)

     이름         측정일   몸무게  단위   담당   지점
회차
7   강성희  2019-01-07   NaN  kg  최재우  여의도
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

### 기본연산

In [11]:
data

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04   NaN  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수  강남구
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07   NaN  kg  최재우  여의도
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [12]:
data['몸무게'].mean()

75.83333333333333

In [13]:
data['몸무게'].min()

75.0

In [14]:
data['몸무게'].max()

76.4

In [15]:
data['몸무게'].describe()

count     6.000000
mean     75.833333
std       0.492612
min      75.000000
25%      75.700000
50%      75.850000
75%      76.150000
max      76.400000
Name: 몸무게, dtype: float64

In [16]:
data['지점'] = data['지점'].replace("강남구", "강남")
data

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04   NaN  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수   강남
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07   NaN  kg  최재우  여의도
8   강성희  2019-01-08   NaN  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [17]:
data['몸무게'] = data['몸무게'].fillna(78.5)
data

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04  78.5  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수   강남
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07  78.5  kg  최재우  여의도
8   강성희  2019-01-08  78.5  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [18]:
data#['몸무게']

     이름         측정일   몸무게  단위   담당   지점
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남
2   강성희  2019-01-02  75.7  kg  김지수   강남
3   강성희  2019-01-03  76.0  kg  김지수   강남
4   강성희  2019-01-04  78.5  kg  최재우  여의도
5   강성희  2019-01-05  76.2  kg  김지수   강남
6   강성희  2019-01-06  75.7  kg  최재우  여의도
7   강성희  2019-01-07  78.5  kg  최재우  여의도
8   강성희  2019-01-08  78.5  kg  김민철  여의도
9   강성희  2019-01-09  75.0  kg  김민철  여의도

In [19]:
data['몸무게(prev)'] = data['몸무게'].shift(+1)
data['몸무게(next)'] = data['몸무게'].shift(-1)
data

     이름         측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희  2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희  2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희  2019-01-03  76.0  kg  김지수   강남       75.7       78.5
4   강성희  2019-01-04  78.5  kg  최재우  여의도       76.0       76.2
5   강성희  2019-01-05  76.2  kg  김지수   강남       78.5       75.7
6   강성희  2019-01-06  75.7  kg  최재우  여의도       76.2       78.5
7   강성희  2019-01-07  78.5  kg  최재우  여의도       75.7       78.5
8   강성희  2019-01-08  78.5  kg  김민철  여의도       78.5       75.0
9   강성희  2019-01-09  75.0  kg  김민철  여의도       78.5        NaN

In [20]:
data['측정일'] = pd.to_datetime(data['측정일'])
data['측정일'].dt.year

회차
1    2019
2    2019
3    2019
4    2019
5    2019
6    2019
7    2019
8    2019
9    2019
Name: 측정일, dtype: int64

In [21]:
data['측정일'].dt.month

회차
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: 측정일, dtype: int64

In [22]:
data['측정일'].dt.day

회차
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
Name: 측정일, dtype: int64

In [23]:
data

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       78.5
4   강성희 2019-01-04  78.5  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       78.5       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       78.5
7   강성희 2019-01-07  78.5  kg  최재우  여의도       75.7       78.5
8   강성희 2019-01-08  78.5  kg  김민철  여의도       78.5       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       78.5        NaN

In [24]:
data.loc[[1,3,4,6]]# loc == locate

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       78.5
4   강성희 2019-01-04  78.5  kg  최재우  여의도       76.0       76.2
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       78.5

In [25]:

data.loc[1]

이름                           강성희
측정일          2019-01-01 00:00:00
몸무게                         76.4
단위                            kg
담당                           김지수
지점                            강남
몸무게(prev)                    NaN
몸무게(next)                   75.7
Name: 1, dtype: object

In [26]:
data.loc[[1,3,4,6]]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       78.5
4   강성희 2019-01-04  78.5  kg  최재우  여의도       76.0       76.2
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       78.5

In [27]:
data.loc[[1,3,4,6]]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       78.5
4   강성희 2019-01-04  78.5  kg  최재우  여의도       76.0       76.2
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       78.5

In [28]:
data.loc[1:7]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       78.5
4   강성희 2019-01-04  78.5  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       78.5       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       78.5
7   강성희 2019-01-07  78.5  kg  최재우  여의도       75.7       78.5

In [29]:
data.loc[1:7:2]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       78.5
5   강성희 2019-01-05  76.2  kg  김지수   강남       78.5       75.7
7   강성희 2019-01-07  78.5  kg  최재우  여의도       75.7       78.5

In [30]:
data.loc[1:7]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       78.5
4   강성희 2019-01-04  78.5  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       78.5       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       78.5
7   강성희 2019-01-07  78.5  kg  최재우  여의도       75.7       78.5

In [31]:
%timeit data.loc[1]['이름']  # Not recommend

112 µs ± 266 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [32]:
%timeit data.loc[1,'이름']

4.74 µs ± 8.7 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [33]:
data.loc[[1,3,4,7],'이름']

회차
1    강성희
3    강성희
4    강성희
7    강성희
Name: 이름, dtype: object

In [34]:
columns = ['이름', '측정일', '몸무게']
session_id = [1,3,5,7]
data.loc[1,columns]

이름                     강성희
측정일    2019-01-01 00:00:00
몸무게                   76.4
Name: 1, dtype: object

In [35]:
data.loc[session_id,'측정일']

회차
1   2019-01-01
3   2019-01-03
5   2019-01-05
7   2019-01-07
Name: 측정일, dtype: datetime64[ns]

### 색인

In [36]:
data['담당']

회차
1    김지수
2    김지수
3    김지수
4    최재우
5    김지수
6    최재우
7    최재우
8    김민철
9    김민철
Name: 담당, dtype: object

In [37]:
data['담당'] == '김지수'

회차
1     True
2     True
3     True
4    False
5     True
6    False
7    False
8    False
9    False
Name: 담당, dtype: bool

In [38]:
data[data['담당'] == '김지수']

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수  강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수  강남       75.7       78.5
5   강성희 2019-01-05  76.2  kg  김지수  강남       78.5       75.7

In [39]:
data

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       78.5
4   강성희 2019-01-04  78.5  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       78.5       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       78.5
7   강성희 2019-01-07  78.5  kg  최재우  여의도       75.7       78.5
8   강성희 2019-01-08  78.5  kg  김민철  여의도       78.5       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       78.5        NaN

In [40]:
data['몸무게']>75

회차
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9    False
Name: 몸무게, dtype: bool

In [41]:
data[data['몸무게']>75]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       78.5
4   강성희 2019-01-04  78.5  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       78.5       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       78.5
7   강성희 2019-01-07  78.5  kg  최재우  여의도       75.7       78.5
8   강성희 2019-01-08  78.5  kg  김민철  여의도       78.5       75.0

In [42]:
data["단위"]

회차
1    kg
2    kg
3    kg
4    kg
5    kg
6    kg
7    kg
8    kg
9    kg
Name: 단위, dtype: object

In [43]:
data["단위"]  =='kg'

회차
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: 단위, dtype: bool

In [44]:
data[data["단위"]  =='kg']

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       78.5
4   강성희 2019-01-04  78.5  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       78.5       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       78.5
7   강성희 2019-01-07  78.5  kg  최재우  여의도       75.7       78.5
8   강성희 2019-01-08  78.5  kg  김민철  여의도       78.5       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       78.5        NaN

In [45]:
people = ['최재우', '김민철']
data['담당'].isin(people)

회차
1    False
2    False
3    False
4     True
5    False
6     True
7     True
8     True
9     True
Name: 담당, dtype: bool

In [46]:
people = ['최재우', '김민철']
data[data['담당'].isin(people)]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
4   강성희 2019-01-04  78.5  kg  최재우  여의도       76.0       76.2
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       78.5
7   강성희 2019-01-07  78.5  kg  최재우  여의도       75.7       78.5
8   강성희 2019-01-08  78.5  kg  김민철  여의도       78.5       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       78.5        NaN

In [47]:
data['담당'].str.contains('김')

회차
1     True
2     True
3     True
4    False
5     True
6    False
7    False
8     True
9     True
Name: 담당, dtype: bool

In [48]:
data[data['담당'].str.contains('김')]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       78.5
5   강성희 2019-01-05  76.2  kg  김지수   강남       78.5       75.7
8   강성희 2019-01-08  78.5  kg  김민철  여의도       78.5       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       78.5        NaN

In [49]:
data[data['몸무게(prev)'].isnull()]

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7

In [50]:
data[data['몸무게(prev)'].notnull()]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       78.5
4   강성희 2019-01-04  78.5  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       78.5       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       78.5
7   강성희 2019-01-07  78.5  kg  최재우  여의도       75.7       78.5
8   강성희 2019-01-08  78.5  kg  김민철  여의도       78.5       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       78.5        NaN

In [51]:
data['담당']=='김지수'

회차
1     True
2     True
3     True
4    False
5     True
6    False
7    False
8    False
9    False
Name: 담당, dtype: bool

In [52]:
data[data['담당']=='김지수']

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수  강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수  강남       75.7       78.5
5   강성희 2019-01-05  76.2  kg  김지수  강남       78.5       75.7

In [53]:
data[(data['몸무게']>75) & (data['담당']=='김지수')]

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수  강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수  강남       75.7       78.5
5   강성희 2019-01-05  76.2  kg  김지수  강남       78.5       75.7

In [54]:
high = (data['몸무게']>75)
dam = (data['담당']=='김지수')

data[ high & dam ]

     이름        측정일   몸무게  단위   담당  지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수  강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수  강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수  강남       75.7       78.5
5   강성희 2019-01-05  76.2  kg  김지수  강남       78.5       75.7

In [55]:
high = (data['몸무게']>75)
dam = (data['담당']=='김지수')

data[ high | dam ]

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       78.5
4   강성희 2019-01-04  78.5  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       78.5       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       78.5
7   강성희 2019-01-07  78.5  kg  최재우  여의도       75.7       78.5
8   강성희 2019-01-08  78.5  kg  김민철  여의도       78.5       75.0

In [56]:
data

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       78.5
4   강성희 2019-01-04  78.5  kg  최재우  여의도       76.0       76.2
5   강성희 2019-01-05  76.2  kg  김지수   강남       78.5       75.7
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       78.5
7   강성희 2019-01-07  78.5  kg  최재우  여의도       75.7       78.5
8   강성희 2019-01-08  78.5  kg  김민철  여의도       78.5       75.0
9   강성희 2019-01-09  75.0  kg  김민철  여의도       78.5        NaN

In [57]:
data['담당']=='김지수'

회차
1     True
2     True
3     True
4    False
5     True
6    False
7    False
8    False
9    False
Name: 담당, dtype: bool

In [58]:
data[data['담당']=='김지수']['몸무게']   # not recommend

회차
1    76.4
2    75.7
3    76.0
5    76.2
Name: 몸무게, dtype: float64

In [59]:
data.loc[data['담당']=='김지수', '몸무게']

회차
1    76.4
2    75.7
3    76.0
5    76.2
Name: 몸무게, dtype: float64

In [60]:
columns = ['이름', '몸무게']
data.loc[data['담당']=='김지수', columns]

     이름   몸무게
회차
1   강성희  76.4
2   강성희  75.7
3   강성희  76.0
5   강성희  76.2

### pivot table

In [61]:
pd.pivot_table(data, index = '담당', values = '몸무게')

           몸무게
담당
김민철  76.750000
김지수  76.075000
최재우  77.566667

In [62]:
pd.pivot_table(data, index = ['지점', '담당'], values = '몸무게')

               몸무게
지점  담당
강남  김지수  76.075000
여의도 김민철  76.750000
    최재우  77.566667

In [63]:
pd.pivot_table(data, index = ['지점', '담당'], values = '몸무게', aggfunc = ['mean','sum'])

              mean    sum
               몸무게    몸무게
지점  담당
강남  김지수  76.075000  304.3
여의도 김민철  76.750000  153.5
    최재우  77.566667  232.7

### 컬럼 추가 & 수정

In [64]:
data['지점']

회차
1     강남
2     강남
3     강남
4    여의도
5     강남
6    여의도
7    여의도
8    여의도
9    여의도
Name: 지점, dtype: object

In [65]:
data['지역'] = "서울"
data

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)  지역
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7  서울
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0  서울
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       78.5  서울
4   강성희 2019-01-04  78.5  kg  최재우  여의도       76.0       76.2  서울
5   강성희 2019-01-05  76.2  kg  김지수   강남       78.5       75.7  서울
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       78.5  서울
7   강성희 2019-01-07  78.5  kg  최재우  여의도       75.7       78.5  서울
8   강성희 2019-01-08  78.5  kg  김민철  여의도       78.5       75.0  서울
9   강성희 2019-01-09  75.0  kg  김민철  여의도       78.5        NaN  서울

In [66]:
data['결제'] = ['True','False','True','True','True','False','True','True','True']
data

     이름        측정일   몸무게  단위   담당   지점  몸무게(prev)  몸무게(next)  지역     결제
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남        NaN       75.7  서울   True
2   강성희 2019-01-02  75.7  kg  김지수   강남       76.4       76.0  서울  False
3   강성희 2019-01-03  76.0  kg  김지수   강남       75.7       78.5  서울   True
4   강성희 2019-01-04  78.5  kg  최재우  여의도       76.0       76.2  서울   True
5   강성희 2019-01-05  76.2  kg  김지수   강남       78.5       75.7  서울   True
6   강성희 2019-01-06  75.7  kg  최재우  여의도       76.2       78.5  서울  False
7   강성희 2019-01-07  78.5  kg  최재우  여의도       75.7       78.5  서울   True
8   강성희 2019-01-08  78.5  kg  김민철  여의도       78.5       75.0  서울   True
9   강성희 2019-01-09  75.0  kg  김민철  여의도       78.5        NaN  서울   True

In [67]:
data['몸무게'] *1000

회차
1    76400.0
2    75700.0
3    76000.0
4    78500.0
5    76200.0
6    75700.0
7    78500.0
8    78500.0
9    75000.0
Name: 몸무게, dtype: float64

In [68]:
data['몸무게(gram)'] = data['몸무게'] *1000
data

,이름,측정일,몸무게,단위,담당,지점,몸무게(prev),몸무게(next),지역,결제,몸무게(gram)
회차,,,,,,,,,,,
1,강성희,2019-01-01,76.4,kg,김지수,강남,NaN,75.7,서울,True,76400.0
2,강성희,2019-01-02,75.7,kg,김지수,강남,76.4,76.0,서울,False,75700.0
3,강성희,2019-01-03,76.0,kg,김지수,강남,75.7,78.5,서울,True,76000.0
4,강성희,2019-01-04,78.5,kg,최재우,여의도,76.0,76.2,서울,True,78500.0
5,강성희,2019-01-05,76.2,kg,김지수,강남,78.5,75.7,서울,True,76200.0
6,강성희,2019-01-06,75.7,kg,최재우,여의도,76.2,78.5,서울,False,75700.0
7,강성희,2019-01-07,78.5,kg,최재우,여의도,75.7,78.5,서울,True,78500.0
8,강성희,2019-01-08,78.5,kg,김민철,여의도,78.5,75.0,서울,True,78500.0
9,강성희,2019-01-09,75.0,kg,김민철,여의도,78.5,NaN,서울,True,75000.0

In [69]:
data['몸무게'] > 75.8

회차
1     True
2    False
3     True
4     True
5     True
6    False
7     True
8     True
9    False
Name: 몸무게, dtype: bool

In [70]:
data['과체중'] = data['몸무게'] > 75.8
data

,이름,측정일,몸무게,단위,담당,지점,몸무게(prev),몸무게(next),지역,결제,몸무게(gram),과체중
회차,,,,,,,,,,,,
1,강성희,2019-01-01,76.4,kg,김지수,강남,NaN,75.7,서울,True,76400.0,True
2,강성희,2019-01-02,75.7,kg,김지수,강남,76.4,76.0,서울,False,75700.0,False
3,강성희,2019-01-03,76.0,kg,김지수,강남,75.7,78.5,서울,True,76000.0,True
4,강성희,2019-01-04,78.5,kg,최재우,여의도,76.0,76.2,서울,True,78500.0,True
5,강성희,2019-01-05,76.2,kg,김지수,강남,78.5,75.7,서울,True,76200.0,True
6,강성희,2019-01-06,75.7,kg,최재우,여의도,76.2,78.5,서울,False,75700.0,False
7,강성희,2019-01-07,78.5,kg,최재우,여의도,75.7,78.5,서울,True,78500.0,True
8,강성희,2019-01-08,78.5,kg,김민철,여의도,78.5,75.0,서울,True,78500.0,True
9,강성희,2019-01-09,75.0,kg,김민철,여의도,78.5,NaN,서울,True,75000.0,False

In [71]:
data.loc[data['몸무게'] > 75.8, '상태']='과체중'
data.loc[data['몸무게'] <= 75.8, '상태']='정상'
data

,이름,측정일,몸무게,단위,담당,지점,몸무게(prev),몸무게(next),지역,결제,몸무게(gram),과체중,상태
회차,,,,,,,,,,,,,
1,강성희,2019-01-01,76.4,kg,김지수,강남,NaN,75.7,서울,True,76400.0,True,과체중
2,강성희,2019-01-02,75.7,kg,김지수,강남,76.4,76.0,서울,False,75700.0,False,정상
3,강성희,2019-01-03,76.0,kg,김지수,강남,75.7,78.5,서울,True,76000.0,True,과체중
4,강성희,2019-01-04,78.5,kg,최재우,여의도,76.0,76.2,서울,True,78500.0,True,과체중
5,강성희,2019-01-05,76.2,kg,김지수,강남,78.5,75.7,서울,True,76200.0,True,과체중
6,강성희,2019-01-06,75.7,kg,최재우,여의도,76.2,78.5,서울,False,75700.0,False,정상
7,강성희,2019-01-07,78.5,kg,최재우,여의도,75.7,78.5,서울,True,78500.0,True,과체중
8,강성희,2019-01-08,78.5,kg,김민철,여의도,78.5,75.0,서울,True,78500.0,True,과체중
9,강성희,2019-01-09,75.0,kg,김민철,여의도,78.5,NaN,서울,True,75000.0,False,정상

## 컬럼 삭제하기

In [72]:
data

,이름,측정일,몸무게,단위,담당,지점,몸무게(prev),몸무게(next),지역,결제,몸무게(gram),과체중,상태
회차,,,,,,,,,,,,,
1,강성희,2019-01-01,76.4,kg,김지수,강남,NaN,75.7,서울,True,76400.0,True,과체중
2,강성희,2019-01-02,75.7,kg,김지수,강남,76.4,76.0,서울,False,75700.0,False,정상
3,강성희,2019-01-03,76.0,kg,김지수,강남,75.7,78.5,서울,True,76000.0,True,과체중
4,강성희,2019-01-04,78.5,kg,최재우,여의도,76.0,76.2,서울,True,78500.0,True,과체중
5,강성희,2019-01-05,76.2,kg,김지수,강남,78.5,75.7,서울,True,76200.0,True,과체중
6,강성희,2019-01-06,75.7,kg,최재우,여의도,76.2,78.5,서울,False,75700.0,False,정상
7,강성희,2019-01-07,78.5,kg,최재우,여의도,75.7,78.5,서울,True,78500.0,True,과체중
8,강성희,2019-01-08,78.5,kg,김민철,여의도,78.5,75.0,서울,True,78500.0,True,과체중
9,강성희,2019-01-09,75.0,kg,김민철,여의도,78.5,NaN,서울,True,75000.0,False,정상

In [73]:
data.drop('몸무게(prev)', axis = 'columns')

,이름,측정일,몸무게,단위,담당,지점,몸무게(next),지역,결제,몸무게(gram),과체중,상태
회차,,,,,,,,,,,,
1,강성희,2019-01-01,76.4,kg,김지수,강남,75.7,서울,True,76400.0,True,과체중
2,강성희,2019-01-02,75.7,kg,김지수,강남,76.0,서울,False,75700.0,False,정상
3,강성희,2019-01-03,76.0,kg,김지수,강남,78.5,서울,True,76000.0,True,과체중
4,강성희,2019-01-04,78.5,kg,최재우,여의도,76.2,서울,True,78500.0,True,과체중
5,강성희,2019-01-05,76.2,kg,김지수,강남,75.7,서울,True,76200.0,True,과체중
6,강성희,2019-01-06,75.7,kg,최재우,여의도,78.5,서울,False,75700.0,False,정상
7,강성희,2019-01-07,78.5,kg,최재우,여의도,78.5,서울,True,78500.0,True,과체중
8,강성희,2019-01-08,78.5,kg,김민철,여의도,75.0,서울,True,78500.0,True,과체중
9,강성희,2019-01-09,75.0,kg,김민철,여의도,NaN,서울,True,75000.0,False,정상

In [74]:
data = data.drop('몸무게(prev)', axis = 'columns')

data

,이름,측정일,몸무게,단위,담당,지점,몸무게(next),지역,결제,몸무게(gram),과체중,상태
회차,,,,,,,,,,,,
1,강성희,2019-01-01,76.4,kg,김지수,강남,75.7,서울,True,76400.0,True,과체중
2,강성희,2019-01-02,75.7,kg,김지수,강남,76.0,서울,False,75700.0,False,정상
3,강성희,2019-01-03,76.0,kg,김지수,강남,78.5,서울,True,76000.0,True,과체중
4,강성희,2019-01-04,78.5,kg,최재우,여의도,76.2,서울,True,78500.0,True,과체중
5,강성희,2019-01-05,76.2,kg,김지수,강남,75.7,서울,True,76200.0,True,과체중
6,강성희,2019-01-06,75.7,kg,최재우,여의도,78.5,서울,False,75700.0,False,정상
7,강성희,2019-01-07,78.5,kg,최재우,여의도,78.5,서울,True,78500.0,True,과체중
8,강성희,2019-01-08,78.5,kg,김민철,여의도,75.0,서울,True,78500.0,True,과체중
9,강성희,2019-01-09,75.0,kg,김민철,여의도,NaN,서울,True,75000.0,False,정상

In [75]:
data = data.drop(['몸무게(next)'], axis = 'columns')

data

     이름        측정일   몸무게  단위   담당   지점  지역     결제  몸무게(gram)    과체중   상태
회차
1   강성희 2019-01-01  76.4  kg  김지수   강남  서울   True    76400.0   True  과체중
2   강성희 2019-01-02  75.7  kg  김지수   강남  서울  False    75700.0  False   정상
3   강성희 2019-01-03  76.0  kg  김지수   강남  서울   True    76000.0   True  과체중
4   강성희 2019-01-04  78.5  kg  최재우  여의도  서울   True    78500.0   True  과체중
5   강성희 2019-01-05  76.2  kg  김지수   강남  서울   True    76200.0   True  과체중
6   강성희 2019-01-06  75.7  kg  최재우  여의도  서울  False    75700.0  False   정상
7   강성희 2019-01-07  78.5  kg  최재우  여의도  서울   True    78500.0   True  과체중
8   강성희 2019-01-08  78.5  kg  김민철  여의도  서울   True    78500.0   True  과체중
9   강성희 2019-01-09  75.0  kg  김민철  여의도  서울   True    75000.0  False   정상

### Reference : 10 minuite to pandas